@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--Cream);
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
}

@media (max-width: 576px) {
  main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    align-self: center;
    justify-content: center;
  }
}
@media (min-width: 576px) {
  main {
    display: flex;
    margin: 0 auto;
    width: 50%;
    align-self: center;
    justify-content: center;
  }
}


@media (max-width:576px) {
  main > img {
    max-height: 20rem;
	width: 100%;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
  }
}

@media (min-width:576px) and (max-width: 992px) {
  main > img {
    max-height: 400px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
	width: 100%;
  }
}
@media (min-width: 992px) {
  main > img {
    max-height: 360px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

@media (max-width: 786px) {
  main section {
    background-color: var(--White);
    height: auto;
    max-width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 1.5rem;
  }
}

@media (min-width: 576px) {
  main section {
    background-color: var(--White);
    max-height: 400px;
    max-width: 220px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 1.5rem;
  }
}

main span {
  display: block;
  letter-spacing: 3px;
  color: var(--Dark-grayish-blue);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-family: Montserrat, sans-serif;
  font-size: 11px;
  font-weight: 700;
  opacity: 60%;
}

main h1 {
  font-family: Fraunces, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1em;
  margin-bottom: 1.5rem;
}

main p {
  color: var(--Dark-grayish-blue);
  font-size: 0.8rem;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  opacity: 80%;
  line-height: 1rem;
}

main div {
  display: flex;
  justify-content: flex-start;
  padding-right: 1rem;
  align-items: center;
  margin-bottom: 10px;
}

div strong {
  display: block;
  margin-right: 10px;
  color: var(--Dark-cyan);
  font-family: Fraunces, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

div span {
  display: block;
  text-decoration: line-through;
  align-self: flex-end;
  translate: 0px -0.2rem;
}

button strong {
  display: block;
  margin-left: 1rem;
}

main button {
  margin-bottom: 1rem;
  width: 90%;
  color: var(--White);
  background-color: var(--Dark-cyan);
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 0 solid var(--Dark-cyan);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button img {
  height: 1rem;
}
