/* 
# 576
# 768
# 992
# 1200 
*/

body {
  background-color: aliceblue !important;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* small screen */
@media (max-width: 576px) {
  .qr_card {
    border: solid 1px #bebdbd;
    width: 40vw;
    border-radius: 10px;
  }

  .qr_text {
    padding: 10px;
    text-align: center;
  }

  .qr_text p {
    color: #797979;
  }

  img {
    height: 30vh;
    width: 40vw;
    padding: 10px;
    border-radius: 15px;
  }
}

/* medium screens */
@media (min-width: 576px) and (max-width: 992px) {
  .qr_card {
    border: solid 1px #bebdbd;
    width: 30vw;
    border-radius: 10px;
  }

  .qr_text {
    padding: 10px;
    text-align: center;
  }
  .qr_text p {
    color: #797979;
  }

  img {
    height: 30vh;
    width: 30vw;
    padding: 10px;
    border-radius: 15px;
  }
}

/* large screens */
@media (min-width: 992px) {
  .qr_card {
    border: solid 1px #bebdbd;
    width: 20vw;
    border-radius: 10px;
  }

  .qr_text {
    padding: 10px;
    text-align: center;
  }
  .qr_text p {
    color: #797979;
  }

  img {
    height: 30vh;
    width: 20vw;
    padding: 10px;
    border-radius: 15px;
  }
}
